& .timeline-container {
  height: 7px;
  cursor: pointer;
  display: flex;
  align-items: end;

  --progress-position: 0;
  --loaded-position: 0;
  --preview-position: 0;

  &:hover {
    & .timeline {
      height: 100%;

      & .thumb-indicator {
        --scale: 1;
      }

      & .preview-time {
        opacity: 1;
      }
    }
  }

  & .timeline {
    background-color: rgba(100, 100, 100, 0.5);
    height: 3px;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      /*display: none;*/
      right: calc(100% - var(--loaded-position) * 100%);
      background-color: rgb(150, 150, 150);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: calc(100% - var(--progress-position) * 100%);
      background-color: var(--app-color);
    }

    & .thumb-indicator {
      --scale: 0;
      position: absolute;
      transform: translateX(-50%) scale(var(--scale));
      left: calc(var(--progress-position) * 100%);
      height: 200%;
      z-index: 200;
      top: -50%;

      background-color: rgb(172, 172, 172);
      border-radius: 50%;
      transition: transform 0.15s ease-in-out;
      aspect-ratio: 1 / 1;
    }

    & .preview-time {
      opacity: 0;
      position: absolute;
      left: calc((var(--preview-position) * 100%) - 1.5rem);
      top: -2.5rem;
      color: white;
      font-size: 0.8rem;
      padding: 0.25rem 0.7rem;
      border-radius: 5px;
      background-color: black;

      transition: opacity 0.3s ease-in-out;
    }
  }
}

.rotateBack {
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

.rotateRight {
  transform: rotate(180deg);
  transition: transform 0.15s ease-in-out;
}
