.menu {
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 10px;

  & .section {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    padding: 1rem;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border-bottom: 2px solid transparent;
    border-color: transparent;

    transition: all 0.25s ease-in-out;

    & span {
      text-transform: uppercase;
      color: lightgray;
      font-weight: 500;
    }

    &:hover {
      background-color: rgba(104, 104, 104, 0.185);
    }
  }

  & .active {
    border-color: rgb(161, 161, 161);

    & span {
      color: white;
    }
  }
}
