@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --font-tomorrow: Tomorrow, sans-serif;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  @font-face {
    font-family: 'Geist';

    src: url('../assets/fonts/geist/geist.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Geist Mono';
    font-display: swap;

    src: url('../assets/fonts/geist-mono/geist-mono.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Tomorrow';
    font-weight: 400;
    font-style: normal;

    src: url('../assets/fonts/tomorrow/tomorrow-regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Tomorrow';
    font-weight: 400;
    font-style: italic;

    src: url('../assets/fonts/tomorrow/tomorrow-italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Tomorrow';
    font-weight: 700;
    font-style: normal;

    src: url('../assets/fonts/tomorrow/tomorrow-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Tomorrow';
    font-weight: 700;
    font-style: italic;

    src: url('../assets/fonts/tomorrow/tomorrow-bold-italic.ttf')
      format('truetype');
  }
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;

    --app-color: #8edce6;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border m-0 p-0;
  }
  body {
    @apply bg-background text-foreground overflow-hidden;
  }
  .draglayer {
    @apply bg-background;
    -webkit-app-region: drag;
  }
  button {
    @apply cursor-pointer;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground);
}

span {
  color: var(--foreground);
}

.text-destructuve {
  color: var(--destructive-foreground);
}

.text-muted-foreground {
  color: var(--muted-foreground);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.position-relative {
  position: relative;
}

/* 
Use with a next link

<NavigationMenuItem>
  <Link href="/your-link" legacyBehavior passHref>
    <NavigationMenuLink className="next-link">
      My Link Name
    </NavigationMenuLink>
  </Link>
</NavigationMenuItem> 
*/
.next-link {
  display: inline-flex;
  height: 2.5rem;
  width: max-content;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--background);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  outline: none;
}

.next-link:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

.next-link:focus {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}

/* Disabled styles */
.next-link:disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Data attributes */
.next-link[data-active='true'] {
  background-color: hsl(var(--accent) / 0.5);
}

.next-link[data-state='open'] {
  background-color: hsl(var(--accent) / 0.5);
}

a:hover {
  color: hsl(var(--focus));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  user-select: none;
}
body {
  line-height: 1.5;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(26, 26, 26);
  box-shadow: inset 0 0 1px rgba(207, 207, 207, 0.823);
  border-radius: 20px;
  background-clip: content-box;
  width: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(126, 126, 126);
  width: 0.7em;
}
