.a_text {
  position: relative;
  width: fit-content;

  cursor: pointer;

  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  max-width: 100%;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.2s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
